body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #852626;
  font: medium;
}

.calculator {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
  padding: 20px;
  font-size: 30px;
  border: none;
  text-align: right;
  background-color: #e24e4e;
  color: azure;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  padding: 20px;
  font-size: 20px;
  border: 1px solid #e24e4e;
  background-color: #d1a5a5;
  color: azure;
  cursor: pointer;
}

.equal {
  grid-column: span 3;
  background-color: #d47d7d;
  border: 1px solid #e24e4e;
  padding: 20px;
  font-size: 20px;
  color: azure;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}
